<div tuiCardLarge tuiSurface="elevated" class="pc-sidebar">
  @for (field of pcFields; track $index) {
  <a tuiLink [routerLink]="[field.url]">
    <div class="sidebar-item">
      <div class="sidebar-icon-item">
        <lucide-angular [img]="field.icon" size="28" strokeWidth="2" />
      </div>
      <div class="tui-text_h6">{{ field.label }}</div>
    </div>
  </a>
  }
</div>

<nav tuiTabBar class="tabs" ngProjectAs="tuiOverContent">
  @for (field of mobileFields; track $index) {
  <a
    tuiTabBarItem
    routerLinkActive
    [routerLink]="[field.url]"
    [icon]="field.icon"
    class="tabs-item"
  >
    {{ field.label }}
  </a>
  }
</nav>
