@primary-color: rgba(252, 92, 56, 0.8);
@hover-shadow: 0 0 1.125rem rgba(252, 92, 56, 1);
@icon-color: rgba(27, 31, 59, 0.5);
@hover-icon-color: rgba(27, 31, 59, 0.8);

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.1875rem;
  max-width: 100%;

  .header-left {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1.25rem;

    .logo-container {
      display: flex;
      height: 100%;
      align-items: center;
    }

    .logo {
      height: 70%;
      object-fit: contain;
    }

    .input {
      --tui-primary: @primary-color;
      width: 17.5rem;
      margin-left: 1.25rem;
    }

    .search,
    .bell {
      display: none;
      color: @icon-color;
      aspect-ratio: 1 / 1;
      height: 140%;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: background-color 0.5s ease, box-shadow 0.5s ease;

      &:hover {
        background-color: @primary-color;
        box-shadow: @hover-shadow;
        color: @hover-icon-color;
      }

      lucide-angular {
        height: 1.75rem;
      }
    }

    .bell {
      display: flex;
    }
  }

  .mini-profile-container {
    position: relative;
    display: flex;
    height: 140%;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border-radius: 1.5rem;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;

    .avatar {
      display: flex;
      height: 100%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      border-radius: 50%;
      background-color: #dadada;
      color: #9f9f9f;
      justify-content: center;
      align-items: center;
    }

    .chevron-down {
      height: 1.25rem;
      color: @icon-color;
      aspect-ratio: 1 / 1;
      margin-right: 0.6875rem;
      transition: color 0.5s ease;

      .mini-profile-container:hover &,
      &.hover {
        color: @hover-icon-color;
      }
    }

    &:hover,
    &.hover {
      background-color: @primary-color;
      box-shadow: @hover-shadow;
    }
  }
}

.dropdown {
  display: flex;
  width: 18.75rem;
  flex-direction: column;
  gap: 0.9375rem;
  padding: 1.25rem;

  .dropdown-action,
  .mini-profile {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
  }

  .dropdown-action {
    cursor: pointer;
    height: 1.875rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.36625rem;
    text-align: left;
    color: #191c30;
  }

  .mini-profile {
    height: 3.75rem;
  }

  .avatar {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 50%;
    background-color: #dadada;
    color: #9f9f9f;
    justify-content: center;
    align-items: center;
  }

  .log-out,
  .settings {
    height: 1.5625rem;
    color: rgba(67, 112, 146, 1);
  }
}

tui-dropdown[data-appearance="round"] {
  z-index: 1;
  border-radius: 1.875rem;
}

@media (max-width: 1220px) {
  header {
    height: 1.625rem;
  }

  .header-left {
    width: 100%;
    gap: 0.625rem !important;
  }

  .bell {
    &:hover {
      background-color: transparent !important;
      box-shadow: none !important;
      color: @icon-color !important;
    }
  }
}

@media (max-width: 768px) {
  .mini-profile-container {
    display: none !important;
  }

  header {
    height: 1.625rem;
  }

  .header-left {
    width: 100%;
    gap: 0.625rem !important;
  }

  .input {
    display: none !important;
  }

  .search {
    display: flex !important;
    margin-left: auto;

    &:hover {
      background-color: transparent !important;
      box-shadow: none !important;
      color: @icon-color !important;
    }
  }

  [tuiHeader] {
    --tui-font-heading-5: bold 1.3rem / 1.6rem var(--tui-font-heading);
    --tui-font-text-m: normal 0.8rem / 1rem var(--tui-font-text);
    height: 3rem !important;
  }
}
