:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form {
    display: grid;
    gap: 0.9375rem;
    color: var(--tui-text-01-night);
    max-width: 43.75rem;
    width: 100%;

    .heading {
      margin-bottom: 0.9375rem;
      text-align: center;
    }
  }

  .links {
    display: flex;
    margin-top: 20px;
    gap: 60px;
  }
}
