:host {
  display: flex;
  justify-content: center;

  .form {
    display: grid;
    gap: 0.9375rem;
    color: var(--tui-text-01-night);
    max-width: 43.75rem;
    width: 100%;

    .heading {
      margin-bottom: 0.9375rem;
      text-align: center;
    }

    .first-step {
      display: flex;
      flex-direction: column;
      gap: 0.9375rem;
    }
  }
}
