.layout {
  height: 100vh;
}

.main-container {
  display: flex;
  margin-bottom: 1.875rem;
  min-width: 47.8125rem;
}

.header-container {
  display: flex;
  margin-bottom: 1.875rem;
  align-items: center;
  height: 4.375rem;
  min-width: 47.8125rem;
  background-color: #fff;
  border-radius: 0 0 1.875rem 1.875rem;
}

.app-header-container,
.app-main-container {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.875rem;
}

.app-main-container {
  display: flex;
  gap: 1.25rem;
}

app-sidebar,
router-outlet {
  display: contents;
}

.sidebar {
  min-width: 14.375rem;
}

.router-outlet-container {
  flex-grow: 1;
}

@media (max-width: 1220px) {
  .sidebar {
    min-width: 10.625rem;
  }

  .app-main-container,
  .app-header-container {
    padding: 0 1.25rem 0 1.875rem;
  }

  .header-container {
    height: 3.375rem;
    border-radius: 0 0 0.75rem 0.75rem;
    margin-bottom: 0.9375rem !important;
  }
}

@media (max-width: 768px) {
  .main-container,
  .header-container {
    min-width: 100%;
  }

  .header-container {
    height: 3.375rem;
    border-radius: 0 0 0.75rem 0.75rem;
  }

  .app-main-container,
  .app-header-container {
    padding: 0 0.625rem;
  }

  .sidebar {
    min-width: 0;
  }

  .app-main-container {
    gap: 0;
  }
}
