.form-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 8px;
  row-gap: 8px;
  align-items: center;
  width: 100%;
}

.custom-styles-button {
  max-width: 285px;
  --tui-primary: #FF7E5F;
  --tui-primary-hover: #FF6A3C;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.form-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 8px;
  row-gap: 8px;
  align-items: center;
  width: 100%;
}

.align-center {
  align-items: center;
}

.form-row {
  display: contents;
}

.label {
  color: #9F9F9F;
  text-align: left;
}

.input {
  width: 100%;
  align-self: center;
}

.no-border input {
  border: none;
  box-shadow: none;
}

.no-border input:focus {
  outline: none;
}

:host {
  display: block;
  padding: 16px;
  border-radius: 16px;
  background: #ffffff;
  color: #000;
}
