<div class="settings-wrapper">
  <div class="form-container">
    <div class="form-content">
      <h2 class="tui-text_h6">
        {{ getSelectedSectionLabel() }}
      </h2>
      @switch (selectedSection) { @case ('general') {
      <form [formGroup]="userForm" class="settings-form">
        <div class="fields-container">
          @for (field of fields; track field.controlName) {
          <div class="field-row">
            <span class="field-label">{{ field.label }}</span>
            <tui-input
              [formControlName]="field.controlName"
              tuiTextfieldSize="m"
              [tuiTextfieldCleaner]="true"
              class="field-input no-border"
            >
              {{ field.placeholder }}
              <input tuiTextfield />
            </tui-input>
          </div>
          }
        </div>
        <div class="form-actions">
          <button
            tuiButton
            appearance="primary"
            size="l"
            class="submit-button"
            style="font-size: 14px"
          >
            Сохранить настройки
          </button>
        </div>
      </form>
      } @case ('education') {
      <p>Настройки для образования</p>
      } @case ('interests') {
      <p>Настройки для интересов</p>
      } @case ('security') {
      <p>Настройки безопасности</p>
      } @default {
      <p>Выберите раздел для настройки.</p>
      } }
    </div>
  </div>
  <div class="sidebar-container">
    <div class="sidebar-content">
      @for (section of sections; track section.name) {
      <button
        type="button"
        (click)="selectSection(section)"
        [ngClass]="{
          'sidebar-button tui-text_h6': true,
          active: selectedSection === section.name,
          inactive: selectedSection !== section.name,
          disabled: isDisabledSection(section.name)
        }"
        [disabled]="isDisabledSection(section.name)"
      >
        {{ section.label }}
      </button>
      }
    </div>
  </div>
</div>
