@import '@taiga-ui/styles/taiga-ui-global.less';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  background: url("app/shared/icons/forest.svg") no-repeat right bottom,
    linear-gradient(180deg, #fc5c38 0.17%, #fdb23f 100.17%);
  background-size: 100% auto;
  overflow: hidden;
}
